ALIO_SERVICE_KEY=
KAKAO_API_KEY=
KAKAO_CLIENT_SECRET_KEY=
KAKAO_REDIRECT_URI=
APP_WEB_BASE_URL=http://localhost:8080
MAIL_HOST=smtp.naver.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
APP_MAIL_FROM=no-reply@gongchae-coming.local
DATABASE_URL=jdbc:h2:mem:gongchae;MODE=MySQL;DB_CLOSE_DELAY=-1
DATABASE_USERNAME=sa
DATABASE_PASSWORD=
