ALIO_SERVICE_KEY=

KAKAO_API_KEY=
KAKAO_CLIENT_SECRET_KEY=

MAIL_HOST=smtp.naver.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_SSL_ENABLE=true
MAIL_SMTP_STARTTLS_ENABLE=false
